
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Formulário de clientes</title>
    {% include 'head.html' %}
    <script src="/app/static/js/cliente.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="col-8 m-auto pt-3 pb-1 text-center">
        <h1>{{titulo}}</h1>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <form name="form" id="form" action="" method="POST">
            {% csrf_token %}
            <div class="form-group mt-2">{{ form.as_p }}</div>

            <input type="submit" class="btn btn-primary mt-3" value="Confirmar" name="submit">
            <a href="/cliente/" class="btn btn-danger mt-3">Cancelar</a>   
        </form>
    </div>

</body>

</html>