{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Exibir Pizza</title>
    {% include 'head.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="col8 m-auto pt-3 pb-3 text-center">
        <h1>Visualizar Pizza</h1>
    </div>

    <div class="col8 m-auto text-center">
        <strong>Nome: </strong>{{pizza.nome}}<br>
        <strong>Descrição: </strong>{{pizza.desc}}<br>
        {% for i in pizzaInfo %}
        <strong>Tamanho: </strong>{{i.tamanho}} | <strong>Preço: </strong>{{i.preco}}<br>  
        {% endfor %}
    </div>

    <div class="col8 m-auto pt-4 text-center">
        <a href="/cardapio/pizza" class="btn btn-info">Voltar</a>
        <a href="/cardapio/pizza/form/{{ pizza.id }}" class="btn btn-secondary">Editar</a>
    </div>
    
</body>
</html>