{% load static %}
{% load l10n %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Formulário Pedido</title>
    {% include 'head.html' %}
    <script src="/app/static/js/pedido.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <form method="POST" class="post-form" action="">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>{{titulo}}</h3>
                </div>
            </div>
            {% if titulo == 'Anotar Pedido - Delivery' or titulo == 'Anotar Pedido - Mesa' %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cliente <a href="/cliente/form"><i
                            class="bi bi-person-plus-fill"></i></a></label>
                <div class="col-sm-4">
                    {{ form.cliente }}
                </div>
            </div>
            {%else%}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"><strong>Cliente:</strong> {{ clienteinfo }}</label>
                <div class="col-sm-4">
                </div>
            </div>
            {%endif%}

            {% if titulo == 'Anotar Pedido - Mesa' %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mesa</label>
                <div class="col-sm-4">        
                {{formm.id}}
                </div>
            </div>
            {%endif%}

            <h5 class="text-info">Pizzas </h5>
            {{ formp.management_form }}
            <div class="pizzas">
            {% for formx in formp %}
            <div id="pizza-{{ forloop.counter0 }}">
            {% if pedido %} {{ formx.id|default:pedido.id }} {% endif %}
            {{ formx.produto.label }} {{ formx.produto }}
            {{ formx.tamanho.label }} {{ formx.tamanho }}
            {{ formx.preco.label }} {{ formx.preco }}
            {{ formx.DELETE.label }} {{ formx.DELETE }}
            </div>
            {% endfor %}
            </div>
            <button type="button" class="btn btn-primary btn-sm" id="addPizza">+</button>
            
            <br><br>

            <h5 class="text-info">Bebidas </h5>
            {{ formb.management_form }}
            <div class ="bebidas">
            {% for formx in formb %}
            <div id="bebida-{{ forloop.counter0 }}">
            {% if pedido %} {{ formx.id|default:pedido.id }} {% endif %}
            {{ formx.produto.label }} {{ formx.produto }}
            {{ formx.tamanho.label }} {{ formx.tamanho }}
            {{ formx.preco.label }} {{ formx.preco }}
            {{ formx.DELETE.label }} {{ formx.DELETE }}
            </div>
            {% endfor %}
            </div>
            <button type="button" class="btn btn-primary btn-sm" id="addBebida">+</button>
            
            <br>
            <br>

            <div class="totalPedido">
            Total (R$): <input id="totalPedido" type="number" step="0.01">
            </div>


            <div class="form-group row">
                {% if pedido %}
                <label class="col-sm-2 col-form-label">Status do Pedido</label>
                <div class="col-sm-4">
                    {{ form.status }}
                </div>
                {% endif %}
                <label class="col-sm-2 col-form-label">Método de Pagamento</label>
                <div class="col-sm-4">
                    {{ form.metodoPag }}
                </div>
                <label class="col-sm-2 col-form-label">Observacoes</label>
                <div class="col-sm-4">
                    {{ form.obs }}
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                    <a href="/pedido" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</body>

</html>