{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Cardapio - Bebida</title>
    {% include 'head.html' %}
    <script src="{% static 'javascript.js' %}"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="col8 m-auto pt-3 pb-3 text-center">
        <h1>Cardapio - Bebida</h1>
    </div>

    <div class="col8 text-center">
        <a href="{% url 'cardapioBebidaInsert' %}" class="btn btn-primary text-center"><i class="bi bi-plus-circle"></i> Cadastrar</a>
    </div>

    <div class="col8 p-3 text-center">
        <table class="table table-striped table-bordered table-sm"
        data-toggle="table" data-search="true"
        data-show-multi-sort="true" data-pagination="true">
            <thead class="thead-dark">
                <tr>
                    <th data-field='nome' data-sortable="true">Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
    
            <tbody>
                {% for bebida in bebidas %}
                <tr>
                    <td data-field='nome'>{{ bebida.nome }}</td>
                    <td> 
                        <a href="/cardapio/bebida/view/{{ bebida.id }}" class="bi bi-card-text"></a>
                        <a href="{% url 'cardapioBebidaUpdate' bebida.id %}" class="bi bi-pencil"></a>
                        <a href="/cardapio/bebida/delete/{{ bebida.id }}" class="bi bi-trash3"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    

    
</body>

</html>