{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Inicio</title>
    {% include 'head.html' %}
</head>

<body>
    {% include 'navbar.html' %}
    <!-- Titulo -->
    <div class="col8 m-auto pt-3 pb-2 text-center">
        <img src="{% static 'img/pizza.png' %}" alt="InfoPizza Logo" width="100" height="100" ><img>
        <h1>infoPizza</h1>
        <p>Seja bem vindo!</p>
    </div>

    <!-- Cards flutuantes -->
    <div class="row m-auto text-center justify-content-center align-items-center">
        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem; text-align: center;">
                <div class="card-header"><h5 class="card-title">Total de Pedidos</h5></div>
                <div class="card-body">
                    <p class="card-text" style="font-size: 2rem">{{ pedidoshoje }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem; text-align: center;">
                <div class="card-header"><h5 class="card-title">Total Faturado</h5></div>
                <div class="card-body">
                    <p class="card-text" style="font-size: 2rem">R$ {{ faturadohoje }}</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem; text-align: center;">
                <div class="card-header"><h5 class="card-title">Clientes Novos</h5></div>
                <div class="card-body">
                    <p class="card-text" style="font-size: 2rem">{{clientesnovoshoje}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Amostragem das tabels -->
    <div class="row m-auto">
        <!-- inserir clientes -->
        <div class="col-md-5 pl-4">
            <h5>Últimos Clientes</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="cliente/form">Cadastrar Cliente</a>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Nome Completo</th>
                            <th>Cadastrado em</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in cincoClientes%}
                        <tr>
                            <td>{{cliente.nome}} {{cliente.sobrenome}}</td>
                            <td>{{cliente.cadastro}}</td>  
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- inserir pedidos -->
        <div class="col-md-7 pr-4">
            <h5>Últimos Pedidos</h5>
            <hr>
            <div class="card card-body">
                <div class="clearfix">
                    <a class="btn btn-primary  btn-sm btn-block float-left" style="width: 49%;" href="/pedido/delivery/form">Anotar Pedido Delivery</a>
                    <a class="btn btn-primary  btn-sm btn-block float-right" style="width: 50%;" href="/pedido/mesa/form">Anotar Pedido Mesa</a> 
                </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Pedido</th>
                            <th>Categoria</th>
                            <th>Anotado em</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in cincoPedidos%}
                        <tr>
                            <td>{{pedido.id}}</td> 
                            {%if pedido.cat == 1%}
                            <td>Delivery</td>
                            {%else%}
                            <td>Presencial</td>
                            {%endif%}
                            <td>{{pedido.tempo}}</td> 
                            <td>{{pedido.status}}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <hr>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: #ebeff5;">
        <p>InfoPizza® 2022 <a href="mailto:support@infopizza.com.br?subject=Relatar%20BUG"><i class="bi bi-bug-fill"></i></a></p>
        </div>
    </footer>
    
</body>

</html>