<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Inicio</title>
</head>

<body>
    <!-- Barra de navegação -->
    <nav class="navbar navbar-dark bg-primary">
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="/pedidos/">Pedido</a></li>
            <li><a href="#">Caixa</a></li>
            <li><a href="/cardapio">Cardapio</a>
                <ul class="submenu">
                    <li><a href="/cardapio/pizza/">Pizza</a></li>
                    <li><a href="#">Bebida</a></li>
                </ul>
            </li>
            <li><a href="#">Cozinha</a></li>
        </ul>
    </nav>
    <!-- Titulo -->
    <div class="col8 m-auto pt-3 pb-2 text-center">
        <h1>infoPizza</h1>
        <p>Seja bem vindo!</p>
    </div>

    <!-- Cards flutuantes -->
    <div class="row m-auto text-center justify-content-center">
        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem; text-align: center;">
                <div class="card-header"><h5 class="card-title">Total de Pedidos</h5></div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem; text-align: center;">
                <div class="card-header"><h5 class="card-title">...</h5></div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-primary mb-3" style="max-width: 18rem; text-align: center;">
                <div class="card-header"><h5 class="card-title">...</h5></div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Amostragem das tabels -->
    <div class="row mr-0">
        <div class="col-md-5 pl-4">
            <h5>Clientes:</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Clientes</th>
                        <th>Pedidos</th>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <h5>Ultimos 5 Pedidos</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Create Order</a>
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Orderd</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</body>

</html>