<!-- Barra de navegação -->
<nav class="navbar navbar-dark bg-primary">
    <ul class="menu">
        <li><a href="/">🏠 Início</a></li>
        <li><a href="/cardapio/pizza/">📕 Cardapio</a>
            <ul class="submenu">
                <li><a href="/cardapio/pizza/">🍕 Pizza</a></li>
                <li><a href="/cardapio/bebida/">🍸 Bebida</a></li>
            </ul>
        </li>
        <li><a href="/cliente">👨‍👩‍👧‍👦 Cliente</a></li>
        <li><a href="/pedido/">📝 Pedido</a>
            <ul class="submenu">
                <li><a href="/pedido/delivery">🛵 Delivery</a></li>
                <li><a href="/pedido/mesa/">🪑 Mesa</a></li>
            </ul>
        </li>
        <li><a href="/mesa">Ⓜ️ Mesa</a></li>
        <li><a href="#">🔪 Cozinha</a></li>
        <li><a href="#">🧾 Caixa</a></li>
    </ul>
</nav>